ion-content {
  --border: 1px solid #000;
--background: linear-gradient(180deg, #4C7DE6 73.44%, rgba(96, 111, 145, 0.46) 99.99%);
--box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
display: flex;
width: 100%;
height: 100%;
padding: 1rem;
flex-direction: column;
align-items: flex-start;
gap: 10px;
}
.boton{
  display: flex;
  height: 75%;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
}
.ingresos{
  z-index: 0;
  position: relative;
}
swiper-slide{
  position: relative;
}
.correcto > ion-icon{
  font-size: 100px;
}
.correcto{
  padding: 1rem;
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color:#000;
}
ion-text {
  font-family: Arial, Helvetica, sans-serif;
  }
.enca{
  display: flex;
  margin: 10px;
}
.txt1{
  color: #FFF;

font-style: italic;
font-weight: 700;
line-height: normal;
position: absolute;
top: 3%;
left: 23%;
font-size: 130%;
}
.txt2{
  color: #FFF;

font-style: italic;
font-weight: 700;
line-height: normal;
position: absolute;
top: 6%;
left: 23%;
font-size: 130%;
}
.logo{
  width: 3rem;
}

.txt3{
  color: #FFF;
  text-align: center;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  font-size: 220%;
  position: absolute;
  top: 20%;
  left: 19%;
}
.tit-tut{
color: #FFF;
  text-align: center;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  font-size: 110%;
}
.txt4{
  color: #FFF;
  text-align: center;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  font-size: 220%;
  position: absolute;
  top: 25%;
  left: 33%;
}
swiper-container::part(bullet-active) {
  background-color: #342f94;
}
swiper-container::part(bullet) {
  background-color: #948fff;
}
.container{
border-radius: 1.3125rem;
border: 5px solid #FFF;
width: 76%;
height: 60%;
position: absolute;
padding: 0.5rem;
left: 10%;
}
.container2{
 
position: absolute;
top: 75%;
left: 35%;
}

.der, .izq{
  background:rgba(217, 217, 217, 0.20);
  border-radius: 50%;
  width: 3rem;
}
.but{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 70%;
}
.omi{
display: flex;

align-items: center;
gap: 21px;
border-radius: 50px;
background: rgba(255, 255, 255, 0.40);
width: 300px;
height: 50px;
position: absolute;
top: 85%;
left: 14%;

}
.tomi{

  color: #FFF;
font-family:Arial, Helvetica, sans-serif;
font-size: 20px;
font-style: italic;
font-weight: 700;
line-height: normal;
margin-right: 5px;
margin-left: -20px;

}